# Groq
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

# Pinecone
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=smartinterviewbot-embeddings
PINECONE_EMBED_MODEL=llama-text-embed-v2
PINECONE_DIMENSION=384

# Server
PORT=3000
NODE_ENV=development
